#chatbox {
  height: 300px;
  border: 3.125px solid #242424;
  overflow: auto;
  padding: 100px;
}

#input {
  margin-top: 10px;
  margin-left: 325px;
  border: 3.125px solid #242424;
  background-color: #292b2f;
}

#username {
  border: 3.125px solid #242424;
  background-color: #292b2f;
}

#send {
  background-color: #292b2f;
}

body {
  background-color: #292b2f;
}
